*.sln
*.userprefs
*.csproj
*.unityproj
*.pidb
*.svd
*.suo
*.user
*.booproj

/Library
/Library/FailedAssetImports.txt
/Library/cache/
/Library/previews/
/Library/ScriptAssemblies
/obj
/Temp
ExportedObj/
Temp/
tmpfile/
*~
*.swp
*.Trashes

ehthumbs.db
Thumbs.db

.DS_Store
.DS_Store?


*.mp3.meta
*.wav.meta
*.mov.meta
*.mp4.meta

*.mp3
*.wav
*.mov
*.mp4